<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MitM-2 Core Layer</title>

    <link rel="preload" as="style" href="/css/main.css" />

    <meta
      name="description"
      content="Man-in-the-Middle (MitM) Data Aggregator."
    />
    <meta
      name="keywords"
      content="MitM, mitm-core-layer, ZHENG Robert, Robert Zheng, ZHENG Bote, 郑 伯特"
    />
    <meta name="author" content="Zheng Robert" />

    <link rel="icon" href="/img/favicon.svg" type="image/svg+xml" />
    <link rel="shortcut icon" href="/img/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to MitM HTTP Gateway</h1>
      <p>Version: {{ version }}</p>
      <img
        src="/img/logo_512x512.avif"
        alt="Logo"
        title="Home"
        loading="eager"
        decoding="async"
        fetchpriority="high"
      />
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
